<!DOCTYPE html>
<html>
<head>
  <title>DashNinja</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
<style type='text/css'>
#board {
	width: 1080px;
	height: 1920px;
	/* uncomment to rotate for vertical layouts
	height: 100%;
	-webkit-transform: rotate(-90deg); 
	*/
}
</style>
</head>
<body>
	<div id='board'>
	<%= yield %>
	</div>
</body>
</html>